# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django collectstatic / user uploads
public/static/
public/media/

# Env & secrets
.env
.env.local
.env.*.local
.env.example

# Docker volumes & build crap
caddy_data/
caddy_config/
db_data/
**/.DS_Store

# Editors
.vscode/
.idea/
edu-system-backup.tar.gz
