edu.ifsport.com.au {
  encode gzip

  handle_path /static/* {
    root * /static
    file_server
  }
  handle_path /media/* {
    root * /media
    file_server
  }

  reverse_proxy web:8000
}
# www 子域：301 跳转到裸域
www.edu.ifsport.com.au {
  encode zstd gzip
  redir https://edu.ifsport.com.au{uri} permanent
}
